
@font-face {
    font-family: tabFont;
    src: url(Adequate-ExtraLight.ttf), format(truetype);
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #272727;
}

::-webkit-scrollbar {
    display: none;
}

.editor {
  text-align: inherit;
  width: 19cm;
  min-height: 27cm;
  padding: 2cm;
  margin: auto;
  display:block;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.43);
  word-wrap: break-word;
  border: none;
  outline: 0 solid transparent;
  background-color: #272727;
  color: white;
  font-family: sans-serif;
}

.topBar {
  overflow: hidden;
}

.headerBar {
  position: fixed;
  width: 100%;
  height: 4%;
  background-color: #272727;
  top: 0;
  -webkit-app-region: drag;
  min-height: 30px;
}

select {
  -webkit-app-region: no-drag;
}

button {
  -webkit-app-region: no-drag;
  min-height: 30px;
  min-width: 30px;
  background-color: transparent;
}

button:active {
  transform: scale(.9);
}

button:focus {
  outline: 0 solid transparent;
}

.menuBtn {
  /*position: fixed;
  left: 3px;*/
  text-align: center;
  border: none;
  background-color: transparent;
  display: inline-block;
}

.closeBtn {
  /*position: fixed;
  right: 3px;*/
  text-align: center;
  border: none;
  background-color: transparent;
  display: inline-block;
}

.closeBtn:hover {
  transform: scale(1.2);
  /*background-color: red;*/
  color: white;
  font-weight: bold;
}

.advFormatTools {
  margin: 0;
  border: none;
}

#advFormatToolsBtnImg {
  -webkit-transition-duration: 0.3s;
}


.fontSelection {
  height: auto;
  border: 1px solid black;
  display: inline-block;
  background-color: transparent;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
  margin: 0;
  outline: none;
  font-size: 14px;
}

#fontSizeBox{
  height: auto;
  border: 1px solid black;
  display: inline-block;
  background-color: transparent;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
  margin: 0;
  outline: none;
  font-size: 14px;
}

.toolBar {
  position: fixed;
  margin: auto;
  padding: 5px;
  display: block;
  text-align: center;
  width: 100%;
  background-color: rgba(39, 39, 39, 1);
  filter: blur(5px);
}

.toolBtn {
  border: none;
  transition: .3s;
  background-color: #272727;
  min-width: 40px;
}

.toolBtn:hover {
  transform: scale(1.2);
}

.toolBtn:active {
  transform: scale(.9);
}

/* Dropdown Button */
.dropbtn {
    background-color: #272727;
    color: black;
    border: none;
    cursor: pointer;
    width: 40px;
    transition: .3s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    transform: scale(1.2);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    text-decoration: none;
    display: block;
}

.btn {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    border: none;
    background-color: #272727;
    transition: .3s;
}

.btn:hover{
  transform: scale(1.2);
}

.btn2 {
  border: none;
  padding: 10px;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.3);
}

.btn2:hover {
  transform: scale(1.2);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightgrey}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

option:hover {
  transform: scale(1.2);
}

#openFileDialog, #saveFileDialog {
  width: 40%;
  height: 20%;
  background-color: grey;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  vertical-align:middle;
  display: table;
}

#filepathinput, #saveFileInput {
  border: none;
  border-bottom: 3px solid white;
  background-color: transparent;
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
}

#openFileBtn, #saveFileBtn{
  position: absolute;
  bottom: 0;
  background-color: lightgrey;
  transition: .3s;
}

#openFileBtn:hover, #saveFileBtn:hover {
  background-color: #272727;
  color: white;
  font-weight: bold;
}

#openFileCloseBtn, #saveFileCloseBtn{
  background-color: red;
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border:none;
}

#openFileCloseBtn:hover, #saveFileCloseBtn:hover {
  transform: scale(1.1);
}

#floatFormatBox {
  opacity: .3;
  background-color: #272727;
}

#floatFormatBox:hover {
  opacity: 1;
}

.toolBar {
  /*opacity: 0;*/
  transition: .3s;
}

.toolBar:hover {
  opacity: 1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.settingsDiv {
  width: 40%;
  height: 60%;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  display: table-cell;
  background-color: white;
  box-shadow: 0 0 .5cm rgba(0,0,0,.3);
  text-align: center;
  font-family: sans-serif;
    vertical-align:middle;
}
