
@font-face {
    font-family: tabFont;
    src: url(Adequate-ExtraLight.ttf);
}

body {
  margin: 0 auto;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.editor {
  text-align: inherit;
  width: 19cm;
  min-height: 27cm;
  padding: 2cm;
  margin: auto;
  display:block;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.3);
  word-wrap: break-word;
  border: none;
}

.toolBar {
  position: fixed;
  margin: auto;
  padding: 5px;
  display: block;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, .9);
  filter: blur(5px);
}

.toolBtn {
  border: none;
  width: 40px;
  transition: .5s;
  background-color: grey;
}

.toolBtn:hover {
  background-color: white;
}

/* Dropdown Button */
.dropbtn {
    background-color: grey;
    color: black;
    border: none;
    cursor: pointer;
    width: 40px;
    transition: .4s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    text-decoration: none;
    display: block;
}

.btn {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    border: none;
    background-color: white;
    transition: .5s;
}

.btn:hover{
  background-color: grey;
}

.btn2 {
  border: none;
  padding: 10px;
}

.btn2:hover {
  transform: scale(1.2);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

option:hover {
  transform: scale(1.2);
}

#openFileDialog, #saveFileDialog {
  width: 40%;
  height: 20%;
  background-color: grey;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  vertical-align:middle;
  display: table;
}

#filepathinput, #saveFileInput {
  border: none;
  border-bottom: 3px solid white;
  background-color: transparent;
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
}

#openFileBtn, #saveFileBtn{
  position: absolute;
  bottom: 0;
  background-color: lightgrey;
  transition: .3s;
}

#openFileBtn:hover, #saveFileBtn:hover {
  background-color: #555555;
  color: white;
  font-weight: bold;
}

#openFileCloseBtn, #saveFileCloseBtn{
  background-color: red;
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border:none;
}

#openFileCloseBtn:hover, #saveFileCloseBtn:hover {
  transform: scale(1.1);
}
