
@use "sass:math";

@mixin button-variant(
  $bg, $fg,
  $activeBg: false,
  $borderColor: $bg,
) {
  background: $bg;
  color: $fg;
  border: 1px solid $borderColor;
  border-radius: ($spacer * 0.4);
  padding: math.div($spacer, 3) math.div($spacer, 1.5);
  cursor: pointer;
  transition: .05s all ease-out;

  font-size: 0.7rem;
  line-height: inherit;

  box-shadow: 0 2px 5px -1px rgba($bg, 0.25);

  // & .svg-inline--fa {
  //   width: 1rem !important;
  //   height: 1rem !important;
  // }

  &:hover {
    box-shadow: 0 2px 5px 1px rgba($bg, 0.25);
  }

  &:active {
    box-shadow: 0 2px 5px -1px rgba($bg, 0.25);
    background: $activeBg or lighten($bg, 10);
  }

  &:disabled {
    box-shadow: none !important;
    text-shadow: none !important;
    background: $disabled;
    border-color: $disabled;
    color: $white;
    cursor: initial;
  }
}

button {
  @include button-variant($black, $white);

  &.icon {
    color: $black;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

button.white {
  @include button-variant(
    transparent, $black,
    $activeBg: rgba($black, 0.01),
    $borderColor: $black,
  );

  &:disabled {
    background: transparent;
    color: $disabled;
  }
}

button.link {
  @include button-variant(
    transparent, $blue,
    $activeBg: transparent,
    $borderColor: transparent,
  );

  font-weight: bold;
  // text-decoration: underline;
  box-shadow: none !important;

  &:disabled {
    background: transparent;
    border-color: transparent;
    color: $disabled;
  }
}

button.big {
  font-size: 1rem;
  text-transform: uppercase;
}
