$growRate: 0.2;

h1 { font-size: #{(1 + (5 * $growRate))}rem; }
h2 { font-size: #{(1 + (4 * $growRate))}rem; }
h3 { font-size: #{(1 + (3 * $growRate))}rem; }
h4 { font-size: #{(1 + (2 * $growRate))}rem; }
h5 { font-size: #{(1 + (1 * $growRate))}rem; }
h6 { font-size: #{(1 + (0 * $growRate))}rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1;
  margin: 1rem 0;
}
