
@use "sass:math";

$inputBoxShadow: 0 2px 5px -1px rgba($dark, 0.25);

input {
  border: 1px solid $mute;
  border-radius: ($spacer * 0.2);

  font-family: inherit;
  font-size: 0.7rem;
  line-height: inherit;

  padding: math.div($spacer, 3) math.div($spacer, 1.5);
  min-height: 1.5rem;
  min-width: 0;

  box-shadow: $inputBoxShadow;

  transition: .15s all ease-in-out;

  &:disabled {
    border-color: $disabled;
    background-color: initial;
    color: $disabled;
  }

  &:invalid:not(:disabled):not(:focus) {
    border-color: $red;
    color: $red;
  }
}
