
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.text-mute { color: $grey; }

.text-normal { font-weight: normal; }
.text-bold { font-weight: bold; }
.text-light { font-weight: light; }

.text-italic { font-style: italic; }
.text-underline { text-decoration: underline; }

.text-small { font-size: small; }
.text-smaller { font-size: smaller; }
.text-large { font-size: large; }
.text-larger { font-size: larger; }

.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.text-capitalize { text-transform: capitalize; }
.text-notransform { text-transform: none !important; }
