@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
@import 'sizes.scss';
@import 'colors.scss';

* {
  box-sizing: border-box;
  word-break: break-word;
  outline: 0;
}

body, html {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 1px;

  font-size: 20px;
  line-height: 1.6;

  background: rgb(233,233,233);
  color: black;
}

.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.flex-rwrap { flex-wrap: wrap-reverse; }

.flex-grow { flex-grow: 1; }
.flex-nogrow { flex-grow: 0; }
.flex-shrink { flex-shrink: 1; }
.flex-noshrink { flex-shrink: 0; }

.invisible { visibility: hidden; }

.bg-red { background-color: $red; }
.bg-green { background-color: $green; }
.bg-blue { background-color: $blue; }
.bg-white { background-color: $white; }
.bg-mute { background-color: $mute; }
.bg-grey { background-color: $grey; }
.bg-dark { background-color: $dark; }
.bg-black { background-color: $black; }

@import 'a.scss';
@import 'button.scss';
@import 'h.scss';
@import 'input.scss';
@import 'text.scss';

.fa-spin {
  animation-duration: 1s; // or something else
}
