<template>
  <div class="titlebar d-grid grid-cols-3 ai-center grid-gap-3">
    <div class="left row grid-gap-1">
      <button class="icon p-1">
        <v-icon :icon="['fal', 'home']" />
      </button>
      <button class="icon p-1">
        <v-icon :icon="['fal', 'save']" />
      </button>
      <div class="row ai-center">
        <button class="icon p-1">
          <v-icon :icon="['fal', 'undo']" />
        </button>
        <button class="icon pv-0 ph-1 as-stretch">
          <v-icon :icon="['fal', 'angle-down']" class="mt-auto" />
        </button>
      </div>
      <button class="icon p-1">
        <v-icon :icon="['fal', 'redo']" />
      </button>
      <button class="icon p-1">
        <v-icon :icon="['fal', 'print']" />
      </button>
      <button class="icon p-1">
        <v-icon :icon="['fal', 'ellipsis-h']" />
      </button>
    </div>

    <span>Title</span>

    <div class="right row"></div>
  </div>
</template>

<style lang="scss" scoped>
.titlebar {
  position: fixed;
  width: 100%;
  height: 38px;
  color: white;
  background: rgba(28, 64, 140);
  user-select: none;
  -webkit-app-region: drag;

  padding: 0 10px;

  grid-template-columns: 1fr auto 1fr !important;
}

.titlebar > :first-child {
  margin-left: 65px;
}

.titlebar * {
  color: white !important;
}

button {
  -webkit-app-region: no-drag;
}

.titlebar button:not(:disabled):hover {
  background: darken(rgba(28, 64, 140), 10%) !important;
}
</style>
