<template>
  <div class="col">
    <titlebar />
    <toolbar />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Toolbar from '@/components/Toolbar.vue';
import Titlebar from '@/components/Titlebar.vue';

export default defineComponent({
  components: { Toolbar, Titlebar },
})
</script>

<style lang="scss">
@import '@/assets/scss/style.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
</style>
